@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<section id="home-section" class="hero">
	<div class="home-slider owl-carousel">
		<div class="slider-item" style="background-image: url('@Url.Content("~/images/bg_1.jpg")');">
			<div class="overlay"></div>
			<div class="container">
				<div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

					<div class="col-md-12 ftco-animate text-center">
						<h1 class="mb-2">Chúng tôi phục vụ rau &amp; trái cây tươi</h1>
						<h2 class="subheading mb-4">Chúng tôi cung cấp rau &amp; trái cây hữu cơ</h2>
						<p><a href="#" class="btn btn-primary">Xem chi tiết</a></p>
					</div>

				</div>
			</div>
		</div>

		<div class="slider-item" style="background-image: url('@Url.Content("~/images/bg_2.jpg")');">
			<div class="overlay"></div>
			<div class="container">
				<div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

					<div class="col-sm-12 ftco-animate text-center">
						<h1 class="mb-2">100% Thực phẩm tươi &amp; hữu cơ</h1>
						<h2 class="subheading mb-4">Chúng tôi cung cấp rau &amp; trái cây hữu cơ</h2>
						<p><a href="#" class="btn btn-primary">Xem chi tiết</a></p>
					</div>

				</div>
			</div>
		</div>
	</div>
</section>

<section class="ftco-section">
	<div class="container">
		<div class="row no-gutters ftco-services">
			<div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
				<div class="media block-6 services mb-md-0 mb-4">
					<div class="icon bg-color-1 active d-flex justify-content-center align-items-center mb-2">
						<span class="flaticon-shipped"></span>
					</div>
					<div class="media-body">
						<h3 class="heading">Miễn phí vận chuyển</h3>
						<span>Với đơn hàng trên 200.000 đ</span>
					</div>
				</div>
			</div>
			<div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
				<div class="media block-6 services mb-md-0 mb-4">
					<div class="icon bg-color-2 d-flex justify-content-center align-items-center mb-2">
						<span class="flaticon-diet"></span>
					</div>
					<div class="media-body">
						<h3 class="heading">Luôn tươi mới</h3>
						<span>Gói sản phẩm tốt</span>
					</div>
				</div>
			</div>
			<div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
				<div class="media block-6 services mb-md-0 mb-4">
					<div class="icon bg-color-3 d-flex justify-content-center align-items-center mb-2">
						<span class="flaticon-award"></span>
					</div>
					<div class="media-body">
						<h3 class="heading">Chất lượng cao</h3>
						<span>Sản phẩm chất lượng</span>
					</div>
				</div>
			</div>
			<div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
				<div class="media block-6 services mb-md-0 mb-4">
					<div class="icon bg-color-4 d-flex justify-content-center align-items-center mb-2">
						<span class="flaticon-customer-service"></span>
					</div>
					<div class="media-body">
						<h3 class="heading">Hỗ trợ</h3>
						<span>Hỗ trợ 24/7</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="ftco-section ftco-category ftco-no-pt">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<div class="row">
					<div class="col-md-6 order-md-last align-items-stretch d-flex">
						<div class="category-wrap-2 ftco-animate img align-self-stretch d-flex" style="background-image: url('@Url.Content("~/images/category.jpg")');">
							<div class="text text-center">
								<h2>Rau</h2>
								<p>Bảo vệ sức khỏe của mọi nhà</p>
								<p><a href="#" class="btn btn-primary">Shop now</a></p>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="category-wrap ftco-animate img mb-4 d-flex align-items-end" style="background-image: url('@Url.Content("~/images/category-1.jpg")');">
							<div class="text px-3 py-1">
								<h2 class="mb-0"><a href="#">Fruits</a></h2>
							</div>
						</div>
						<div class="category-wrap ftco-animate img d-flex align-items-end" style="background-image: url('@Url.Content("~/images/category-2.jpg")');">
							<div class="text px-3 py-1">
								<h2 class="mb-0"><a href="#">Vegetables</a></h2>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-4">
				<div class="category-wrap ftco-animate img mb-4 d-flex align-items-end" style="background-image: url('@Url.Content("~/images/category-3.jpg")');">
					<div class="text px-3 py-1">
						<h2 class="mb-0"><a href="#">Juices</a></h2>
					</div>
				</div>
				<div class="category-wrap ftco-animate img d-flex align-items-end" style="background-image: url('@Url.Content("~/images/category-4.jpg")');">
					<div class="text px-3 py-1">
						<h2 class="mb-0"><a href="#">Dried</a></h2>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
