@{
    ViewData["Title"] = "Cart";
}
@model IEnumerable<ShopXanh.Models.SanPham>
@await Component.InvokeAsync("Head", new { param = ViewData["Title"] })
<div id="clickDelCart" style="display:none; position: fixed; top: 10%; left: 50%; transform: translate(-50%, -50%); background-color: #f8d7da; border: 1px solid #f5c6cb; padding: 10px; border-radius: 5px; z-index: 1000;">
	Đã xóa sản phẩm
</div>
<section class="ftco-section ftco-cart">
	<div class="container">
		<div class="row">
			<div class="col-md-12 ftco-animate">
				<div class="cart-list">
					<table class="table">
						<thead class="thead-primary">
							<tr class="text-center">
								
								<th>&nbsp;</th>
								<th>Product name</th>
								<th>Price</th>
								<th>Quantity</th>
								<th>Total</th>
								<th>&nbsp;</th>
							</tr>
						</thead>
						<tbody>
							@foreach(var item in Model)
							{
								<tr class="text-center">
									

									<td class="image-prod"><div class="img" style="background-image:url(@Url.Content($"~/{item.ImageUrl}"));"></div></td>

									<td class="product-name">
										<h3>@item.Name</h3>
										<p>@item.Description</p>
									</td>

									<td class="price"><div id='price_@item.Id'>@item.Price</div> đ</td>

									<td class="quantity">
										<div class="input-group mb-3">
											<input id="quantity_@item.Id" onchange="changeQuantity(@item.Id)" type="text" class="quantity form-control input-number" value="1" min="1" max="@item.Quantity">
										</div>
									</td>

									<td class="total"><div id ="productTotal_@item.Id"></div> đ</td>
									<td class="product-remove">
										<a asp-controller="Home" asp-action="Cart" asp-route-id="@item.Id">
											<span class="ion-ios-close"></span>
										</a>
									</td>
								</tr><!-- END TR-->
							}	
						</tbody>
					</table>
				</div>
			</div>
		</div>

		<form asp-action="Cart" method="post" class="info">
		<div class="row justify-content-end">
				<p class="text-danger">
					@if (ViewBag.Error != null)
					{
						@ViewBag.Error
					}
				</p>
			<div class="col-lg-4 mt-5 cart-wrap ftco-animate">
				<div class="cart-total mb-3">
					<h3>Mã giảm giá</h3>
					<p>Nhập mã giảm giá nếu bạn có</p>
						<div class="form-group">
							<label for="">Mã giảm giá</label>
							<input type="text" class="form-control text-left px-3" placeholder="">
						</div>
				</div>
				<p><button class="btn btn-primary py-3 px-4">Apply</button></p>
			</div>
			<div class="col-lg-4 mt-5 cart-wrap ftco-animate">
				<div class="cart-total mb-3">
					<h3>Địa chỉ giao hàng</h3>
						
					<p>Nhập địa chỉ giao hàng</p>
					
						<div class="form-group">
							<label	>Địa Chỉ</label>
							<input name="Address" type="text" class="form-control text-left px-3" placeholder="***">
							
						</div>
				</div>
			</div>
			<div class="col-lg-4 mt-5 cart-wrap ftco-animate">
				<div class="cart-total mb-3">
					<h3>Cart Totals</h3>
					<p class="d-flex">
						<span>Tổng phụ</span>
						<span id="subtotal">0</span>
						<span>đ</span>
					</p>
					<p class="d-flex">
						<span>Vận chuyển</span>
						<span id="delivery">0</span>
						<span>đ</span>
					</p>
					<p class="d-flex">
						<span>Giảm giá</span>
						<span id="discount">0</span>
						<span>đ</span>
					</p>
					<hr>
					<p class="d-flex total-price">
						<span>Tổng cộng</span>
						<span id="total">0</span>
						<input type="hidden" id="TotalPayment" name="TotalPayment" value="0">
						<span>đ</span>
					</p>
				</div>
					<p><input type="submit" value="Proceed to Checkout" class="btn btn-primary py-3 px-4"></p>
			</div>
			</form>
		</div>
	</div>
</section>

<script src="~/js/cart.js"></script>

