@{
    ViewData["Title"] = "YeuThich";
}
@model IEnumerable<ShopXanh.Models.SanPham>

@await Component.InvokeAsync("Head", new { param = "Yêu Thích"})

<section class="ftco-section ftco-cart">
	<div class="container">
		<div class="row">
			<div class="col-md-12 ftco-animate">
				<div class="cart-list">
					<table class="table">
						<thead class="thead-primary">
							<tr class="text-center">
								<th>Danh sách sản phẩm</th>
								<th>&nbsp;</th>
								<th>Giá</th>
								<th>Số lượng</th>
								<th>&nbsp;</th>
							</tr>
						</thead>
						<tbody>
							@foreach(var item in Model)
							{
								<tr class="text-center">
									
									<td class="image-prod">
										<img class="img" src="~/@item.ImageUrl" />
									</td>

									<td class="product-name">
										<h3>@item.Name</h3>
										<p>@item.Description</p>
									</td>

									<td class="price">@item.Price đ</td>

									<td class="quantity">
										<div class="input-group mb-3">
											<input type="text" value="@item.Quantity" class="quantity form-control input-number" readonly>
										</div>
									</td>
									<td class="product-remove"><a asp-action="YeuThich" asp-route-id="@item.Id"><span class="ion-ios-close"></span></a></td>
								</tr>

								<!-- END TR-->
							}
							

						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</section>